.movies{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2%;
}
.image-container{
   
    margin-left: 27px;
    overflow: hidden;
    box-shadow: 2px 4px 8px rgb(207, 233, 195);
    border-radius: 10px;
}
img{
    width: 80%;
    height: 70%;
    object-fit: cover;
}
.movies-container {
   display: grid;
   grid-template-columns: repeat(3,1fr);
   text-align: center;
}
.movie-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movie-buttons{
    margin-left: 1%;
    margin-bottom: 2%;
    
}
.movie-buttons button{
    margin-left: 2%;
    padding: 10px;
    border-radius: 20%;
    background-color: transparent;
    color: aliceblue;
}
.movie-buttons button:hover{
    background-color: rgb(230, 173, 17);

}
.movieTwo{
    color: aliceblue;
    text-align: center;
    

}
.title{
    color: yellow;
}